
.nav-items{
background-color: green;
height: 80px;
width:100%;
display: flex;
align-items: center;
justify-content: center;
gap: 15px;
}
.nav-items a{
    
padding: 10px;
height: 20px;
width:200px;
background-color: white;
color:red;
text-align: center;
text-decoration: none;
}


body{
    background-color: black;
}
